{% extends 'main.html' %}
{% load static %}


{% block title %}
Fitness - {{ programm.title }}
{% endblock %}



{% block content %}

<section class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <p class="text-center" data-type="Programma" id="title_text">{{ programm.title }}</p>
              {% if not is_liked is None %}
            <i class="heart fa-{{ is_liked }} fa-heart fa-3x" data-favorit="{{ programm.slug }}"></i>
            {% endif %}
          </div>
          <center>
            <img src="/media/{{ programm.picture }}" class="img-fluid">
          </center>
        </div>
        <div class="col-12 col-md-8 mt-3 p_content">
            <p>
                {{ programm.context | safe }}
            </p>
        </div>
    </div>
</section>


{% endblock %}